
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form action="FormLogin" method="post">
    <table>
        <tr>
            <td>Enter ID: </td>
            <td><input type="text" name="userName" /></td>
        </tr>
        <tr>
            <td>Enter Password: </td>
            <td><input type="text" name="password" /></td>
        </tr>
        <tr>
           <td> <input type="submit" />Prisijungimas</a></td>
        </tr>
    </table>
</form>